name: CI

on:
  push:
  pull_request:

jobs:
  test:
    name: Python ${{ matrix.python }} - ${{ matrix.django }} - ${{ matrix.database }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11"]
        django: [
          "Django>=3.2,<4.0",
          "Django>=4.1,<4.2",
          "Django>=4.2,<5.0",
          "git+https://github.com/django/django.git@main#egg=Django"
        ]
        database: ["postgresql", "sqlite3"]
        taggit: ["django-taggit>=2.1.0"]
        psycopg: ["psycopg2>=2.9.2"]

        exclude:
          - python: "3.11"
            django: "Django>=3.2,<4.0"
          - python: "3.8"
            django: "git+https://github.com/django/django.git@main#egg=Django"
          - python: "3.9"
            django: "git+https://github.com/django/django.git@main#egg=Django"

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install "${{ matrix.psycopg }}"
          pip install "${{ matrix.django }}"
          pip install "${{ matrix.taggit }}"
      - name: Test
        run: ./runtests.py
        env:
          DATABASE_ENGINE: django.db.backends.${{ matrix.database }}
          DATABASE_HOST: localhost
          DATABASE_USER: postgres
          DATABASE_PASS: postgres
