name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        include:
          - python: "3.5"
            django: "Django>=2.0,<2.1"
            taggit: "django-taggit>=0.24,<1"
            database: "sqlite3"
            psycopg: "psycopg2>=2.6,<2.9"
            experimental: false
          - python: "3.6"
            django: "Django>=2.1,<2.2"
            taggit: "django-taggit>=0.24,<1"
            database: "postgresql"
            psycopg: "psycopg2>=2.6,<2.9"
            experimental: false
          - python: "3.7"
            django: "Django>=2.2,<2.3"
            taggit: "django-taggit>=1,<1.3"
            database: "sqlite3"
            psycopg: "psycopg2>=2.6,<2.9"
            experimental: false
          - python: "3.8"
            django: "Django>=3.0,<3.1"
            taggit: "django-taggit>=1.3,<2.0"
            database: "postgresql"
            psycopg: "psycopg2>=2.6,<2.9"
            experimental: false
          - python: "3.9"
            django: "Django>=3.1,<3.2"
            taggit: "django-taggit>=1.3,<2.0"
            database: "sqlite3"
            psycopg: "psycopg2>=2.6,<2.9"
            experimental: false
          - python: "3.10"
            django: "Django>=3.2,<3.3"
            taggit: "django-taggit>=2.0"
            database: "postgresql"
            psycopg: "psycopg2>=2.6"
            experimental: false
          - python: "3.10"
            django: "Django>=4.0,<4.1"
            taggit: "django-taggit>=2.0"
            database: "postgresql"
            psycopg: "psycopg2>=2.6"
            experimental: false
          - python: "3.10"
            django: "git+https://github.com/django/django.git@stable/4.0.x#egg=Django"
            taggit: "django-taggit>=2.0"
            database: "sqlite3"
            psycopg: "psycopg2>=2.6"
            experimental: true
          - python: "3.10"
            django: "git+https://github.com/django/django.git@main#egg=Django"
            taggit: "django-taggit>=2.0"
            database: "postgresql"
            psycopg: "psycopg2>=2.6"
            experimental: true
    services:
      postgres:
        image: postgres:10.8
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "${{ matrix.psycopg }}"
          pip install "${{ matrix.django }}"
          pip install "${{ matrix.taggit }}"
          pip install -e .
      - name: Test
        run: ./runtests.py
        env:
          DATABASE_ENGINE: django.db.backends.${{ matrix.database }}
          DATABASE_HOST: localhost
          DATABASE_USER: postgres
          DATABASE_PASS: postgres
